*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
build/
app/build/
core/designsystem/build/
core/model/build/
core/p2p/api/build/
core/p2p/nfc/build/
core/p2p/wifi-direct/build/
core/p2p/hotspot/build/
core/p2p/transfer/build/
feature/home/build/
release.keystore
*.log
.gradle/
core/p2p/session/build/
core/p2p/security/build/
core/p2p/file/build/
